node_modules/
upstream/
.env
.env.*
!.env.example
cache/
artifacts/
out/
broadcast/
typechain-types/
dist/
.next/
.turbo/
coverage/
.DS_Store
apps/web/**/node_modules/
apps/web/**/.next/
apps/web/**/.turbo/
apps/web/**/dist/
